html, body {
  background-color: black;
  color: white; /* Para que el texto se vea sobre el fondo negro */
}
.filas{
    height: 15rem;
    
}

.filas2{
    height: 15rem;
    
}

.foto{
    height: 13rem;
    width: 21rem;
    
    display: inline-block;
    margin-left: 1rem;
}
.foto img{
    height: 100%;
    width: 100%;
}
#logo{
    height: 3rem;
}

#foto2{
    height: 15rem;
    width: 18rem;
}

.informacion{

}
.alert {
  position: relative;
}

.alert .close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 10;
}
#fondo{
width: 100%;
}
.img-mask-gradient {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-size: 100% 150%;
  -webkit-mask-repeat: no-repeat;

}
.texto{
z-index: 1;
position: fixed;
top: 10%;}

p{
position: fixed;
z-index: 1;
}